$color-success: #00ee00;
$color-failure: #ee0000;
$color-neutral: #888888;

.logo.vite:hover {
  filter: drop-shadow(0 0 2em #747bff);
}

.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafb);
}
